.button {
    background-color: $nickel;
    border-radius: 30px;
    color: $white;
  
 
    &--small {
      padding: 9px 16px;
       font-size: $medium;
    }
  
     
  
      &:hover {
        background-color: $light-gray;
      }
    }
  
  