.main-section{
    padding: $x-large $x-large;

    &__date{
        font-family: $playfair-display;
        padding-bottom: $x-large;
    }
    &__text{
        font-weight: $light;
        line-height: 2rem;
        padding-bottom: 3.5rem;
        &--destacado{
            color: $eeire-black;
        }
        
    }
    
}
@include cell-phone-view{
    .main-section__text--destacado{
        color: $fuzzy-wuzzy;
    }   
        }