.paginator {
  border-radius: 0.25rem;
  display: flex;
  list-style: none;
  padding-left: 0;

  &__element:first-child &__link {
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    margin-left: 0;
  }

  &__element:last-child &__link {
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    margin-left: -1px;
  }

  &__element.--active &__link {
    background-color: $raisin-black;
    border-color: $raisin-black;
    color: $white;
    z-index: 1;
  }

  &__link {
    background-color: $white;
    border: 1px solid $light-gray;
    color: #121619;
    display: block;
    font-family: $roboto;
    font-size: $medium;
    font-weight: $regular;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;


  }

  &__link:hover {
    color: $nickel;
    text-decoration: none;
  }
}

.pagination {
  background-color: $light-gray;

  &-section {
    margin: 50px auto;
    width: fit-content;
  }
}